@import "SASS-Files/mixins";
@import "SASS-Files/variables";
@import "SASS-Files/extend";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  background-color: #fff;
  font-family: $font;
  & > * {
    width: 100vw;
    & > * {
      width: 100vw;
      border: 1px black solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        width: 325px;
        border: 1px green dotted;
      }
    }
  }
}

.header {
  &__top {
    background-color: #c4bbbb;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart-items {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    font-size: x-large;
  }
  &__user {
    height: 27px;
    width: 27px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
  }
  &__shop {
    display: flex;
    flex-direction: row;
  }
  &__search {
    height: 50px;
    width: 50px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position-x: -304px;
    background-position-y: 12px;
    background-repeat: no-repeat;
  }
  &__cart {
    height: 50px;
    width: 50px;
    background-color: white;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position-x: -66px;
    background-position-y: 10px;
    background-repeat: no-repeat;
  }
  &__icon--light {
    background-color: rgb(110, 110, 107);
  }
  &__icon--white {
    background-color: white;
  }
}

.logo {
  height: 100px;
  justify-content: center;
}

.main__content {
  background-color: #f8f8f8;
  margin-top: 100px;
  position: relative;
  padding-top: 50px;
  // .title {
  //   // te
  // }
}

.main__icon {
  position: absolute;
  top: -65px;
}

.thumbnail {
  position: relative;
  margin-bottom: 10px;
  &__info {
    position: absolute;
    z-index: 1;
    border: 2px red solid;
    bottom: 0;
  }
}

footer {
  margin-top: 100px;
}
