@import "SASS-Files/mixins";
@import "SASS-Files/variables";
@import "SASS-Files/extend";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  background-color: #fff;
  font-family: $font;
  & > * {
    width: 100vw;
    & > * {
      width: 100vw;
      border: 1px black solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      & > * {
        width: 325px;
        border: 1px green dotted;
      }
    }
  }
}

header {
  background-color: #fff;
  &__top {
    background-color: #f8f8f8;
  }
}

.logo {
  height: 100px;
  justify-content: center;
}

.main__content {
  background-color: #f8f8f8;
  margin-top: 100px;
  position: relative;
  padding-top: 50px;
  // .title {
  //   // te
  // }
}

.main__icon {
  position: absolute;
  top: -65px;
}

.thumbnail {
  position: relative;
  margin-bottom: 10px;
  &__info {
    position: absolute;
    z-index: 1;
    border: 2px red solid;
    bottom: 0;
  }
}

footer {
  margin-top: 100px;
}

.button {
  @extend %button;
}
