@import "SASS-Files/variables";
@import "SASS-Files/extend";

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  width: 100vw;
  font-family: $font;
  .body__container {
    width: 100vw;
    background-color: #fff;

    & > * {
      width: 100vw;
      & > * {
        width: 100vw;
        //      border: 1px black solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
          width: 325px;
          //        border: 1px green dotted;
        }
      }
    }
  }
}

.body__nav {
  width: 80%;
  background-color: $light;
  height: 100vh;

  &-list {
    list-style-type: none;
    margin: 0;
    margin-left: -35px;
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-right: 1px solid white;
    background-size: 60%;
    background-position: center;
  }
  &-icon-1 {
    background-repeat: no-repeat;
    background-image: url(img/utensiliosML.png);
  }
  &-icon-2 {
    background-repeat: no-repeat;
    background-image: url(img/magdalena.png);
  }
  &-icon-3 {
    background-repeat: no-repeat;
    background-image: url(img/tarta-cumpleanos.png);
  }
  &-icon-4 {
    background-repeat: no-repeat;
    background-image: url(img/delantal.png);
    background-size: 80%;
  }
  &-icon-5 {
    background-position-x: -200px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 350px;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg);
  }
  &-icon-6 {
    background-repeat: no-repeat;
    background-size: 350px;
    background-position-x: -250px;
    background-position-y: 0px;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg);
  }
  &-icon-7 {
    background-repeat: no-repeat;
    background-size: 350px;
    background-position-x: -300px;
    background-position-y: 0px;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg);
  }
  &-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white;
    &-1 {
      background-color: #ff5959;
    }
    &-2 {
      background-color: #9faa4d;
    }
    &-3 {
      background-color: #8e789d;
    }
  }
  &-text {
    font-family: $font;
    font-size: 14px;
    margin-left: 10px;
  }
}

.header {
  &__top {
    background-color: $lightest;
    position: fixed;
    z-index: 2;
    top: 0;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &__right-links {
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
  }

  &__cart-items {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    color: #fff;
    font-size: 22px;
  }

  &__login {
    display: flex;
    align-content: center;
  }

  &__user-icon {
    height: 27px;
    width: 27px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
  }
  &__shop {
    display: flex;
    flex-direction: row;
  }
  &__search {
    height: 50px;
    width: 50px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position-x: -304px;
    background-position-y: 12px;
    background-repeat: no-repeat;
  }
  &__cart {
    height: 50px;
    width: 50px;
    background-color: #fff;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position-x: -66px;
    background-position-y: 10px;
    background-repeat: no-repeat;
  }
  &__icon--light {
    background-color: $light;
  }
  &__icon--lightest {
    background-color: $lightest;
  }
  &__logo {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
  }
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo__image {
  width: 280px;
  padding-top: 50px;
}

.main {
  padding-top: 50px;
}
.main__content {
  background-color: #f8f8f8;
  margin-top: 165px;
  position: relative;
  padding-top: 50px;
}

.main__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 4px;
  padding: 15px 40px;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main__image {
  position: absolute;
  top: -60px;
}

.main__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    margin-top: 40px;
  }
}

.main__thumbnails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  position: relative;
  margin-bottom: 10px;
  height: 125px;
  overflow: hidden;
  &__image {
    max-width: 100%;
    height: min-content;
  }
  &__info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: rgba($lightest, $alpha: 0.8);
    color: $dark;
    width: 55%;
    font-size: 12px;
    padding: 0 15px;
    line-height: 1.5em;
  }
}

.footer {
  margin-top: 100px;
  .footer__brands {
    display: none;
  }
  &__envios {
    background-color: $light;
    color: $darkest;
  }
  &__container {
    display: flex;
    justify-content: center;
  }
  &__container--row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__container--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__copyright {
    background-color: $accent;
    color: white;
  }
  &__socials {
    background-color: $lightest;
    color: $dark;
  }
}

.envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  padding: 25px;
  text-align: center;
  &__icon {
    height: 50px;
    width: 50px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    margin: 20px;
    display: flex;
  }
  &__icon--1 {
    width: 85px;
    height: 60px;
    background-position-x: 0px;
    background-position-y: -38px;
    background-repeat: no-repeat;
  }
  &__icon--2 {
    width: 55px;
    height: 60px;
    background-position-x: -90px;
    background-position-y: -38px;
    background-repeat: no-repeat;
  }
  &__icon--3 {
    width: 68px;
    height: 60px;
    background-position-x: -150px;
    background-position-y: -36px;
    background-repeat: no-repeat;
  }
  &__icon--4 {
    width: 77px;
    height: 60px;
    background-position-x: -223px;
    background-position-y: -38px;
    background-repeat: no-repeat;
  }

  &__title {
    display: flex;
    margin: 10px;
    font-size: medium;
    justify-content: center;
    align-items: center;
  }
  &__subtitle {
    display: flex;
    margin: 10px;
    font-size: small;
    font-weight: normal;
    justify-content: center;
    align-items: center;
  }
}
.social {
  padding: 30px;

  &__icons {
    display: flex;
    flex-direction: row;
  }
  &__icons--img {
    height: 32px;
    width: 32px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    margin: 2px;
    display: flex;
  }
  &__icons--1 {
    background-position-x: 0px;
    background-position-y: -494px;
    background-repeat: no-repeat;
  }
  &__icons--2 {
    background-position-x: -35px;
    background-position-y: -494px;
    background-repeat: no-repeat;
  }
  &__icons--3 {
    background-position-x: -71px;
    background-position-y: -494px;
    background-repeat: no-repeat;
  }
  &__icons--4 {
    background-position-x: -106px;
    background-position-y: -494px;
    background-repeat: no-repeat;
  }
  &__icons--5 {
    background-position-x: -142px;
    background-position-y: -494px;
    background-repeat: no-repeat;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 75px;
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  &__icon {
    height: 31px;
    width: 30px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    &--1 {
      background-position-x: 0px;
      background-position-y: -207px;
      background-repeat: no-repeat;
    }
    &--2 {
      background-position-x: -0px;
      background-position-y: -246px;
      background-repeat: no-repeat;
    }
    &--3 {
      background-position-x: 0px;
      background-position-y: -285px;
      background-repeat: no-repeat;
    }
  }
  &__title {
    color: $accent;
    font-size: medium;
    font-weight: 600;
    margin: 10px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $dark;
  padding-bottom: 40px;
  padding-top: 30px;
  border-top: 1px solid $dark;
  &__privacy-check {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  &__title {
    font-size: smaller;
    font-weight: normal;
  }
  &__input-text {
    width: 300px;
    height: 35px;
  }
}

.checkbox {
  &__label {
    font-size: small;
    &--underline {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__input {
    margin: 5px;
    cursor: pointer;
  }
}
.button {
  @extend %button;

  &--full-width {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}

button:hover {
  background-color: rgba(229, 89, 89, 0.5);
  text-decoration: underline;
}

.top-nav {
  display: none;
}

.logo-desktop {
  display: none;
}

.thumbnail__description {
  display: none;
}

.header__login-text {
  display: none;
}

.header__socials {
  display: none;
}

.header__items-preview {
  display: none;
}

@media (min-width: 600px) {
  .body {
    .body__container {
      & > * {
        & > * {
          & > * {
            width: 950px;
          }
        }
      }
    }
  }

  .header__burger {
    display: none;
  }

  .header__search {
    display: none;
  }

  .top-nav {
    width: 200px;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 60px;
      height: 70px;
      margin-right: 4px;
      background-repeat: no-repeat;
      background-position-y: bottom;
      cursor: pointer;
    }

    &__item--1 {
      width: 70px;
      height: 130px;
      background-color: $accent;
      background-image: url(img/header-desktop-icons/maria-lunarillos.png);
    }

    &__item--2 {
      background-color: #6199af;
      background-image: url(img/header-desktop-icons/cucute.png);
    }

    &__item--2:hover {
      height: 130px;
    }

    &__item--3 {
      background-color: #f6b436;
      background-image: url(img/header-desktop-icons/mumuchu.png);
    }

    &__item--3:hover {
      height: 130px;
    }
  }

  .header__right-links {
    width: 950px;
    display: flex;
    justify-content: flex-end;
  }
  .header__login {
    width: min-content;
    display: flex;
    cursor: pointer;
  }

  .header__login:hover {
    color: $accent;
    .header__user-icon {
      background-position: -37px 0;
    }
  }

  .header__login-text {
    width: 150px;
    margin-left: 15px;
    padding-top: 3px;
    display: block;
    font-size: 15px;
  }

  .header__socials {
    display: flex;
    margin: 0 25px;
  }

  .header__social-icon {
    width: 25px;
    height: 20px;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    margin: 0 6px;
    cursor: pointer;
  }

  .header__social-icon--1 {
    background-position: -4px -540px;
  }

  .header__social-icon--1:hover {
    background-position: -4px -500px;
  }

  .header__social-icon--2 {
    background-position: -40px -540px;
  }

  .header__social-icon--2:hover {
    background-position: -40px -500px;
  }

  .header__social-icon--3 {
    background-position: -75px -540px;
  }

  .header__social-icon--3:hover {
    background-position: -75px -500px;
  }

  .header__social-icon--4 {
    background-position: -110px -540px;
  }

  .header__social-icon--4:hover {
    background-position: -110px -500px;
  }

  .header__social-icon--5 {
    background-position: -180px -540px;
  }

  .header__social-icon--5:hover {
    background-position: -180px -500px;
  }

  .header__shop {
    position: relative;
  }

  .header__items-preview {
    display: none;
    position: absolute;
    width: 410px;
    height: 70px;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.75);
    right: 0;
    bottom: -70px;
    background-color: #fff;
    z-index: 1;
  }

  .header__cart:hover {
    background-color: $accent;
    background-position: -105px 10px;
  }

  .header__shop:hover {
    .header__items-preview {
      display: block;
    }
    cursor: pointer;
  }

  .logo {
    display: none;
  }

  .header__logo {
    margin-top: 50px;
  }

  .logo-desktop {
    display: flex;
    justify-content: space-between;
    &__image {
      align-self: flex-end;
      width: 250px;
      cursor: pointer;
    }
  }

  .header__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 445px;
    height: 148px;
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__button {
      text-decoration: none;
      background-color: #9faa4d;
      color: #fff;
      height: 30px;
      flex-grow: 1;
      font-weight: 600;
      font-size: 15px;
      padding: 5px 12px 5px 2px;
      margin: auto 3px;
      display: flex;
    }
    &__button--ofertas {
      background-color: #8e789d;
    }

    &__icon {
      display: inline-block;
      background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
      width: 30px;
      height: 30px;
      background-position: -244px 4px;
      background-repeat: no-repeat;
      position: relative;
      bottom: 5px;
    }

    &__icon--ofertas {
      background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
      background-position: -274px 4px;
    }

    &__search {
      display: flex;
    }

    &__input {
      border: 2px $light solid;
      height: 30px;
    }

    &__submit {
      border: none;
      height: 30px;
      width: 44px;
      background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
      background-position: -306px 2px;
      background-color: $light;
      cursor: pointer;
      font-size: 12px;
    }
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__nav-button {
    height: 80px;
    width: 80px;
    background-color: $lightest;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &--1 {
      background-image: url(img/header-desktop-icons/utensiliosML.png);
    }

    &--1:hover {
      background-color: $accent;
      background-image: url(img/header-desktop-icons/utensiliosML-hover.png);
    }

    &--2 {
      background-image: url(img/header-desktop-icons/magdalena.png);
    }

    &--2:hover {
      background-color: $accent;
      background-image: url(img/header-desktop-icons/magdalena-hover.png);
    }

    &--3 {
      background-image: url(img/header-desktop-icons/tarta-cumpleanos.png);
    }

    &--3:hover {
      background-color: $accent;
      background-image: url(img/header-desktop-icons/tarta-cumpleanos-hover.png);
    }

    &--4 {
      background-image: url(img/header-desktop-icons/delantal.png);
    }

    &--4:hover {
      background-color: $accent;
      background-image: url(img/header-desktop-icons/delantal-hover.png);
    }

    &--5 {
      background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg);
      background-color: $accent;
      background-size: 560px;
      background-position: -320px 0;
      margin-left: 20px;
    }

    &--5:hover {
      background-color: $lightest;
      .header__nav-label {
        color: $accent;
      }
    }

    span {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: -25px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.1em;
      color: $darkest;
    }
  }

  //main-desktop

  .main__thumbnails {
    height: 600px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "a a c"
      "b b c";
  }

  .thumbnail {
    display: flex;
    height: 100%;
    cursor: pointer;
    &--1 {
      grid-area: a;
    }
    &--2 {
      grid-area: b;
    }
    &--3 {
      grid-area: c;
      .thumbnail__image {
        height: 600px;
        max-width: none;
        transform: translate(-350px, 0);
      }
    }

    &__shape {
      position: absolute;
      bottom: 0;
      left: 220px;
      width: 0;
      height: 0;
      border-right: 85px solid transparent;
      border-bottom: 179px solid rgba($lightest, $alpha: 0.8);
    }

    &__info {
      width: 220px;
      height: 179px;
    }

    &__info--1 {
      right: 95px;
    }

    &__shape--1 {
      left: 535px;
    }

    &__title {
      font-size: 20px;
      margin-top: 30px;
      line-height: 1em;
    }
    &__description {
      display: block;
      font-size: 15px;
      margin: 25px auto;
    }
  }

  //footer-desktop

  .footer__container {
    display: flex;
    flex-wrap: nowrap;
    &--column {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      align-items: flex-start;
      margin-top: 30px;
    }
  }

  .envios:hover {
    color: $accent;
    cursor: pointer;
    .envios__icon--1 {
      background-position: 0 -109px;
    }
    .envios__icon--2 {
      background-position: -90px -109px;
    }
    .envios__icon--3 {
      background-position: -150px -107px;
    }
    .envios__icon--4 {
      background-position: -223px -109px;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-top: 0;
    margin-top: 43px;
    &__title {
      font-weight: 400;
      margin-top: 0;
    }
    &__icons--img {
      cursor: pointer;
    }
    &__icons--1:hover {
      background-position: 0 -574px;
    }
    &__icons--2:hover {
      background-position: -35px -574px;
    }
    &__icons--3:hover {
      background-position: -70px -574px;
    }
    &__icons--4:hover {
      background-position: -106px -574px;
    }
    &__icons--5:hover {
      background-position: -142px -574px;
    }
  }
  .subscribe {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border: 0;
    border-right: 1px solid $dark;
    border-left: 1px solid $dark;
    padding: 10px 30px 10px 30px;
    align-items: flex-start;
    flex-grow: 2;
    &__input-text {
      width: 200px;
    }
  }
  .button--full-width {
    width: 180px;
    align-self: flex-end;
    margin-top: 10px;
  }

  .contact {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
      margin-right: 30px;
      margin-top: 0;
      display: flex;
      flex-direction: row;
      &:hover {
        text-decoration: underline;
        text-decoration-color: $accent;
      }
    }
    &__title {
      font-weight: 400;
    }
  }
  .footer .footer__brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--image {
      filter: grayscale(100%);
      opacity: 0.6;
      padding: 10px 0;
      max-width: 200px;
      height: auto;
      &:hover {
        filter: none;
        opacity: 1;
        cursor: pointer;
      }
    }
    &--container {
      display: flex;
      justify-content: center;
    }
    &--title {
      display: flex;
      justify-content: center;
      width: auto;
      margin-top: 30px;
      margin-bottom: 50px;
      border-top: 2px solid $dark;
      border-bottom: 2px solid $dark;
      letter-spacing: 10px;
      padding: 10px;
    }
    &--button {
      max-width: max-content;
      margin-top: 40px;
      margin-bottom: 100px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
