%button {
  background-color: $accent;
  color: white;
  border: none;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px;
  width: fit-content;
  cursor: pointer;
}
